* {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  text-decoration: none;
  letter-spacing: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: 'Chakra Petch', sans-serif; }

body {
  background: #FFF4FD; }

main section, header {
  width: 83.33%;
  margin-left: 100px;
  position: relative;
  max-width: 1200px; }

.gifSection {
  margin-top: 64px; }

.titleContainer {
  width: 100%;
  height: 32px;
  margin-bottom: 17px;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  display: flex;
  align-items: center; }
  .titleContainer h3 {
    margin-left: 7px; }

.gifContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative; }
  .gifContainer div {
    width: 24%;
    min-width: 200px;
    height: 21.3vw;
    margin-bottom: 16px; }
    .gifContainer div h2 {
      position: absolute;
      width: 98%; }
    .gifContainer div h4 {
      display: none;
      width: 24%; }
    .gifContainer div img {
      height: inherit;
      width: inherit;
      object-fit: cover;
      position: absolute; }
      .gifContainer div img:hover {
        border: 1px solid #110038;
        border-style: dotted;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
        .gifContainer div img:hover ~ h4 {
          display: block; }

.pinkButton {
  color: #110038;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  background: #F7C9F3; }
  .pinkButton a, .pinkButton h4 {
    height: 30px;
    margin: 2px;
    font-size: 16px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center; }
    .pinkButton a:hover, .pinkButton h4:hover {
      border: 1px dotted #110038;
      background: #E6BBE2; }
  .pinkButton label {
    height: 30px;
    margin: 2px; }
    .pinkButton label:hover {
      border: 1px dotted #110038;
      background: #E6BBE2; }
    .pinkButton label h3 {
      font-size: 16px; }

body#night {
  background: #110038; }
  body#night .titleContainer {
    background: #FFFAFE;
    color: #110038; }
  body#night .pinkButton {
    background: #EE3EFE;
    color: #FFFFFF;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF; }
    body#night .pinkButton a, body#night .pinkButton label {
      color: #FFFFFF; }
    body#night .pinkButton h4:hover, body#night .pinkButton a:hover, body#night .pinkButton label:hover {
      background: #CE36DB;
      border: 1px dotted #110038; }

h1 {
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF; }

h2 {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  font-weight: 700; }

h3, a {
  font-size: 14px;
  color: #110038;
  line-height: 18px; }

h4 {
  width: 289px;
  height: 24px;
  padding: 2px 0 0 3px;
  margin-top: 274px;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 18px;
  z-index: 1;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%); }

p {
  font-size: 16px;
  color: #110038;
  line-height: 22px; }

button {
  font-size: 16px;
  line-height: 18px; }

li {
  font-size: 16px;
  line-height: 22px; }

body#night a {
  color: #FFFFFF; }

#welcome {
  width: 100%;
  height: 23px;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038;
  display: flex;
  align-items: center; }
  #welcome p {
    font-size: 12px;
    color: #FFFFFF;
    padding-left: 8px; }

body#night #welcome {
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }

header {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header nav {
    display: flex;
    align-items: center; }
    header nav ul {
      display: none;
      width: 170px;
      height: 92px;
      list-style-type: none;
      background: #E6E6E6; }
      header nav ul li {
        display: flex;
        align-items: center;
        height: 36px;
        width: 150px;
        margin: 10px;
        background: #FFF4FD;
        border: 1px solid #CCA6C9;
        box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }
    header nav input {
      display: none; }
      header nav input:checked ~ ul {
        display: block;
        transform: translate(0, 44px);
        position: relative;
        z-index: 2; }
      header nav input:checked ~ #temasButton {
        transform: translate(0, 50px); }
    header nav label {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header nav label img {
        padding: 12px 11px;
        border-left: 1px solid #110038; }

#temasButton a {
  margin: 0px 22px; }
  #temasButton a:hover {
    border: none;
    border-top: 1px dotted #110038;
    border-bottom: 1px dotted #110038; }

#logoContainer {
  margin-left: -9px; }

#crearButton {
  width: 144px;
  height: 36px;
  margin-right: 16px; }

#temasButton {
  width: 168px;
  height: 36px; }

#dayThemeButton {
  padding: 16px;
  background: #FFF4FD; }
  #dayThemeButton p::first-letter {
    text-decoration: underline; }

#nightThemeButton {
  padding: 16px;
  background: #F0F0F0;
  text-decoration: none; }

#myGifosButton {
  width: 95px;
  height: 32px;
  margin-left: 16.5px;
  background: inherit;
  display: flex;
  align-items: center; }
  #myGifosButton a {
    font-size: 16px; }
  #myGifosButton a::first-letter {
    text-decoration: underline; }
  #myGifosButton:hover {
    border: 1px dotted #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
  #myGifosButton:active {
    color: #B4B4B4; }

body#night #myGifosButton a {
  color: #FFFFFF; }
body#night #myGifosButton:hover {
  border: 1px dotted #FFFFFF; }
body#night ul {
  background: #B4B4B4; }
body#night #dayThemeButton {
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  background: #CCCCCC;
  text-decoration: none; }
body#night #nightThemeButton {
  background: #2E32FB;
  border: 1px solid rgba(51, 53, 143, 0.2);
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF; }
  body#night #nightThemeButton::first-letter {
    text-decoration: underline; }
body#night #temasButtonContainer label img {
  transform: rotate(-270deg);
  fill: #FFFFFF;
  border: none;
  border-bottom: 1px solid #110038; }

#search {
  background-color: #E6E6E6;
  position: relative;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

form button {
  display: flex;
  align-items: center;
  background: #E6E6E6;
  width: 8.5%;
  height: 32px;
  border: 1px solid #808080;
  margin-left: 8px;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  justify-content: space-evenly;
  color: #B4B4B4; }

#searchBar {
  height: 99px; }
  #searchBar div {
    width: 99.5%;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin-left: 3px; }
    #searchBar div h2 {
      margin-left: 3px; }
  #searchBar form {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    #searchBar form input {
      width: 86.75%;
      height: 48px;
      padding-left: 1.33%;
      margin-left: 15px;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000; }

#searchSuggestions {
  width: 100%;
  height: 160px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  background: #E6E6E6;
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1; }
  #searchSuggestions ul {
    padding: 5px 0 16px 0; }
    #searchSuggestions ul li {
      display: flex;
      align-items: center;
      width: 86.75%;
      height: 34px;
      padding-left: 15px;
      margin: 11px 0 0 15px;
      background: #F0F0F0;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
      #searchSuggestions ul li:hover {
        background: #bdbdbd;
        border: 1px dotted #110038; }

#previouslySearchedTags {
  height: 46px;
  padding-top: 12px;
  background: #FFF4FD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  z-index: 0; }
  #previouslySearchedTags div {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 34px;
    margin-right: 8px;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    background: #4180F6;
    display: inline-flex; }
  #previouslySearchedTags p {
    font-weight: normal;
    margin-block-start: 7px;
    margin-block-end: 7px;
    margin: 8px 7px 8px 7px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
    width: fit-content; }

body#night #search {
  background-color: #E6E6E6; }
body#night #searchBar {
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF; }
  body#night #searchBar div {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
body#night #previouslySearchedTags {
  background: #110038; }
  body#night #previouslySearchedTags div {
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF; }

#searchResults {
  display: none; }

#gifSuggestions {
  height: auto;
  position: relative;
  z-index: 0; }
  #gifSuggestions .gifContainer div {
    height: 22.35vw;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: relative; }
  #gifSuggestions .gifSuggested {
    box-sizing: border-box;
    width: 98%;
    height: 89.45%;
    margin: 29px 4px 4px 4px;
    position: relative;
    z-index: 1; }
  #gifSuggestions h2 {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 3px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    margin: 4px; }
  #gifSuggestions a {
    padding: 8px 10px 8px 10px;
    border: 1px solid #4C2F99;
    margin: 92% 0 0 11px;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    background: #4180F6;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    z-index: 2; }
    #gifSuggestions a:hover {
      border: 1px dotted #110038; }
  #gifSuggestions #x {
    width: 16px;
    height: 14px;
    position: absolute;
    margin: 8px 0 0 90%;
    z-index: 1; }

body#night #gifSuggestions h2 {
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
body#night #gifSuggestions a {
  background: #2E32FB;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF; }
body#night #gifSuggestions .gifContainer div {
  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF; }
body#night #gifSuggestions .gifSuggested {
  width: 280px;
  height: 280px; }

@media (min-width: 1400px) {
  .gifContainer {
    justify-content: space-between; } }
@media (max-width: 768px) {
  main section, header {
    width: 95%;
    margin: auto;
    position: relative;
    min-width: 300px; }

  #welcome {
    height: auto; }

  #logoContainer {
    margin-left: 20px; }

  #searchBar form button {
    height: 46px;
    width: 46px;
    flex-direction: column;
    font-size: 14px; } }
@media (max-width: 600px) {
  #buttonContainer {
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px; }

  header {
    height: 200px; } }
@media (max-width: 1000px) {
  .gifContainer div {
    width: 288px;
    height: 298px; }

  #gifSuggestions .gifContainer div {
    width: 288px;
    height: 313px; }
    #gifSuggestions .gifContainer div a {
      margin: 260px 0 0 11px; } }

/*# sourceMappingURL=styles.css.map */
